#app-content {
  height: calc(100vh - var(--navigationBar-height));
  padding: 0 1rem 0 1rem;
}

#messageDisplay-wrapper {
  height: 75vh;
  margin-top: 1rem;
}

#messafeForm-wrapper {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}